html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

:root {
  font-family: "Source Code Pro", "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", "Liberation Mono", "Courier New", monospace;
}

.ProseMirror {
  outline: none;
}

.ProseMirror p {
  margin: 0;
}
